* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background-health.jpg);
    font-family: 'Poppins', sans-serif;
}
.tittle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 14%;
}
.hearth {
    width: 8%;
}

h1, h2, h3 {
    color: #000000;
}

p {
    color: black;
}

nav {
    position: relative;
}

nav li {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 25px;
}

a {
    color: #070707;
    text-decoration: none;
    transition: color 0.4s;
    border-radius: 80px;
    border: 3px solid black;
    padding: 10px;
    font-size: 17px;
    background-color: #a4d5db;
}

a:hover {
    background: linear-gradient(45deg, #42dbc7, #42db84);
    border: 3px solid #ffffff;
}

.items {
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    gap: 9px;
}

#calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 900px;
    width: 100%;
    margin-left: 11px !important;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 28%;
    gap: 20px;
}

.input-field label {
    font-size: 18px;
    font-weight: 600;
    color: #2c3e50;
}

.input-field input {
    font-size: 22px;
    background-color: #ecf0f1;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 10px;
    color: #34495e;
    width: 100%;
    transition: border-color 0.3s;
}

.input-field input:focus {
    outline: none;
    border-color: #2980b9;
}

#result {
    text-align: center;
    font-size: 27px;
    color: black;
    margin-top: 10px;
}

#total {
    font-size: 23px;
    color: #2ecc71;
    margin-top: 10px;
}

#calculate {
    border: none;
    padding: 12px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 9px;
    cursor: pointer;
    color: #ffffff;
    background-color: #3498db;
    transition: background-color 0.3s;
}

#calculate:hover {
    background-color: #2980b9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.ldl-total,
.ct-hdl,
.ldl-hdl {
    font-weight: bold;
    font-size: 19px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    body {
        background-image: none; /* Remove a imagem de fundo em telas menores se necessário */
    }

    .tittle {
        width: 100%; /* Ocupa toda a largura da tela */
        top: 0;
        left: 0;
        border-radius: 0; /* Remove borda arredondada */
    }

    nav li {
        margin-right: 15px; /* Reduz a margem entre os itens de navegação */
    }

    .items {
        font-size: 16px; /* Reduz o tamanho do texto na barra de navegação */
    }

    #calculator {
        max-width: 100%; /* Ajusta a largura da calculadora para ocupar toda a largura da tela */
        margin-left: 0 !important; /* Remove a margem esquerda */
    }

    .input-field {
        width: 100%; /* Ocupa toda a largura da calculadora */
    }
}
@media screen and (max-width: 768px) {
    nav {
        text-align: center; /* Centraliza os itens de navegação */
    }

    nav li {
        display: inline-block;
        margin-right: 10px; /* Espaçamento entre os itens - ajuste conforme necessário */
        margin-bottom: 10px; /* Adapte conforme necessário */
    }

    .items {
        flex-direction: row;
    }

    a {
        font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
        padding: 8px 12px; /* Ajuste o espaçamento interno conforme necessário */
    }
}


.items {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; /* Adapte conforme necessário */
}

.items a {
    display: block;
    margin: 10px 0; /* Espaçamento entre os links - ajuste conforme necessário */
}

@media screen and (max-width: 768px) {
   .items {
        display: flex;
    }
}
